<!-- could delete -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashley Pun</title>
    <link rel="icon" href="/assets/portfolio-favicon.png">
    <link rel = "stylesheet" href="/css/style.css" />
    <!-- <link rel = "stylesheet" href="mediaqueries.css" /> -->
    <!-- | <%= locals.title %> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Rozha+One&display=swap" rel="stylesheet">
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>

<body>
    <div class="page-container">
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/blog-header.ejs') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>